html{overflow-y:scroll;}
body,html{
	padding: 0;
	margin: 0;
	background: #000;
	font-family: Arial;
	
}
.Centerer{
	text-align: center;
}
.Content{
	margin: 0 auto;


}
.Content img{
	border: 0;
	padding:0;
	margin:0;
}
canvas{
	border:none;
	cursor: crosshair;
	/*width: 512px;
	height: 224px;*/
}
.Picker{
	width: 938px;
	max-width: 100%;
	margin: 10px auto;
	clear:both;
}

@media only screen and (max-width : 958px) {
	.Picker{
		width: 538px;
		background: red;
	}
}

@media only screen and (max-width : 561px) {
	.Picker{
		width: 268px;
		background: red;
	}
}



#beth,#me,#sphere,#cereal,#head,#large_mesh,#obj_test{
	width: 128px;
	height: 128px;	
}
#beth,#me,#sphere,.Explanation,#cereal,#head,#large_mesh,#obj_test{
	float: left;
	

	
	padding: 3px;
}

#beth.Selected,#sphere.Selected,#me.Selected,#cereal.Selected,#head.Selected,#large_mesh.Selected,#obj_test.Selected{
	background: white;			
}
#beth.Selected a,#sphere.Selected a,#cereal.Selected a,#me.Selected a,#head.Selected a,#large_mesh.Selected a,#obj_test.Selected a{
	cursor: default;
}
#beth:hover,#sphere:hover,#cereal:hover,#me:hover,#head:hover,#large_mesh:hover,#obj_test:hover{
	
}
#beth.Selected:hover,#sphere.Selected:hover,#me.Selected:hover,#cereal.Selected:hover,#head.Selected:hover,#large_mesh.Selected:hover,#obj_test.Selected:hover{
	
}
#beth:hover,#sphere:hover,#cereal:hover,#me:hover,#head:hover,#large_mesh:hover,#obj_test:hover{
	
}

.Explanation_Container{
	margin: 10px auto 0 auto;
	width: 590px;
	text-align: center;
}
#first.Explanation{
  	margin: 0 0 0 40px;
}

.Explanation{
	margin: 0 auto;
	text-align:center;
	width:570px;
	margin: 0;
	font-family: Arial;
	font-size: 14px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 10px 10px;
	background: white;
}
.Explanation h2{
	padding: 0 0px;
	margin: 0px 0px;
}
.Explanation p{
	padding: 0 0 5px 0;
	margin: 0;
}
.Explanation p.Small{
	font-size: 85%;
	color: #5f5f5f;
	text-align: center;
	padding: 0px;
	margin: 0
}
.Explanation p.Small strong{
	color: #2f2f2f;
}
.Explanation a{
  color: #FF0080;
  text-decoration: none;
}
.Explanation a:hover{
  text-decoration: underline;
}
.Picker img{
	border: none;
	width: 128px;
	height: 128px;	
}

#disqus_thread{
  background:none repeat scroll 0 0 #AFAFAF;
  margin-bottom:10px;
  margin-top:60px;
  padding:10px 30px 20px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
