<div class="article">
  <h1>Hot Reloading Code</h1>
  <img class="intro" title="Hot Reloading Code" src="images/template-article-icon.png"/>
  <p>
      IDEA: Perhaps just focusing on the technique and being less referential is the way to go.

      Explain the concept, explain techniques for doing so. Perhaps give an overview of how popular projects like redux related hot reloaders do it.

      TODO: Figure out how to well break up these concepts with Time Travel Debugging, Developer Workbenches
  </p>
</div>

<!--more-->

<div class="article">
  <p>
      Redux style mostly pure functional infrastructure makes it way easier to do hot code reloading as your view is basically a projection of
      of your original state, with your events projections accumulatively applied. So code reloading is just a reprojection from the beginning
      Mention react native hot reloading
      https://github.com/gaearon/react-hot-loader
      http://research.microsoft.com/en-us/projects/liveprogramming/ (Also look for glitch)
      http://research.microsoft.com/en-us/people/smcdirm/

      Prio Art/Tools
      Been around since the dawn of time. See great Alan Kay quote: https://news.ycombinator.com/item?id=11939986
      http://ejohn.org/blog/introducing-khan-cs/
      Lighttable, etc
  </p>
</div>

<%- partial("../_promote-me") %>
