<div class="article">
  <h1>Hot Reloading Code</h1>
  <img class="intro" title="Hot Reloading Code" src="images/template-article-icon.png"/>
  <p>
      Explain the concept, explain techniques for doing so. Perhaps give an overview of how popular projects like redux related hot reloaders do it.

      TODO: Figure out how to well break up these concepts with Time Travel Debugging, Developer Workbenches
  </p>
</div>

<!--more-->

<div class="article">
  <p>
      https://github.com/gaearon/react-hot-loader
  </p>
</div>

<%- partial("../_promote-me") %>
