<div class="article">
  <h1>Template Title</h1>
  <img class="intro" title="Template Title" src="images/template-article-icon.png"/>
  <p>Template article intro (and snippet for home page).</p>
</div>

<!--more-->

<div class="article">
  <p>Paragraph.</p>
  <p>Paragraph</p>
  <p>Etc</p>
</div>

<%- partial("../_promote-me") %>
