<div class="article">
  <h1>Time Travel Debugging</h1>
  <img class="intro" title="Template Title" src="images/template-article-icon.png"/>
  <p>
      Time Travel Debugging is all the rage lately. I'm going to cover various techniques
      for implementing time travel debugging, different benefits for doing so,
      link to frameworks/languages that make it easy to use in a project, and walk
      through a simple implementation.

       - Must be able to run updating logic without tr8ggering rendering so that replays are very fast
       - Add Brian's replay as  testing for bugs and for testing determinism
       - Talk about replay ability issues for external state like websockets and such. Explain why rr focused on replay as a recording but not modifiable
  </p>
</div>

<!--more-->

<div class="article">
  <p>.</p>
  <p>Paragraph</p>
  <p>Reference prio art, promote following article about hot reloading, and etc.</p>
  <p>Mention games like Braid, Prince of Persia: Sands of Time, New VR FPS (Forget the name), and ask other people for this</p>
  <p>Mention movied too. Primer the movie would be interesting to code up using a system like this. Especially the loop back duplication of characters. Link to XKCD comic

      Mention projects you can use these techniques in. Redux being the most prominent one, usable in regular react, and react native.
  </p>
</div>

<%- partial("../_promote-me") %>
