<div class="article">
  <h1>Time Travel Debugging</h1>
  <img class="intro" title="Template Title" src="images/template-article-icon.png"/>
  <p>
      IDEA: Perhaps just focusing on the technique and being less referential is the way to go.

      Time Travel Debugging is all the rage lately. I'm going to cover various techniques
      for implementing time travel debugging, different benefits for doing so,
      link to frameworks/languages that make it easy to use in a project, and walk
      through a simple implementation.

       - Must be able to run updating logic without tr8ggering rendering so that replays are very fast
       - Add Brian's replay as  testing for bugs and for testing determinism
       - Talk about replay ability issues for external state like websockets and such. Explain why rr focused on replay as a recording but not modifiable
  </p>
</div>

<!--more-->

<div class="article">
  <p>.</p>
  <p>Paragraph</p>
  <p>
      Reference prio art, promote following article about hot reloading, and etc.
      rr:
        Start in 2011: https://github.com/mozilla/rr/commits/master?page=106
        http://rr-project.org/
        TODO: Add great talk on it explaining cost benefits ratio
      See:
        http://undo.io/
      Javascript reverse debugging
        Microsoft Research:
            https://channel9.msdn.com/blogs/Marron/Time-Travel-Debugging-for-JavaScriptHTML
                Early work: mugshot.js:
                    https://channel9.msdn.com/Events/MIX/MIX11/RES04
                    https://www.usenix.org/conference/nsdi10-0/mugshot-deterministic-capture-and-replay-javascript-applications
        Microsoft's new Chakra Javascript Engine's reverse debugging: https://www.youtube.com/watch?v=1bfDB3YPHFI&t=5m5s
        TODO: Look for more coming soon
            https://developer.mozilla.org/en-US/docs/Mozilla/Projects/WebReplay (Lists other engines as well)

      [Why isn't it used](https://programmers.stackexchange.com/questions/181527/why-is-reverse-debugging-rarely-used)
        [$41 Billion lost annually because of not adopting it](http://www.prweb.com/releases/2013/1/prweb10298185.htm)

        https://stackoverflow.com/questions/1470434/how-does-reverse-debugging-work

        Ideas:
          - User space watch (via proxies), would listen for the last trigger that
            matches some condition and then creates a debugger statement (or uses a devtools extension approach)
          - Having embeddable subsystems with reversable properties is the way to go, and
            this is the pattern you get if you organize things correctly
            - I know some game physics engines do this, find one, also build an example of this, it'd be funny (Actually too time consuming)


  </p>

  <p>Mention games like Braid, Prince of Persia: Sands of Time, New VR FPS (Forget the name), and ask other people for this</p>
  <p>Mention movied too. Primer the movie would be interesting to code up using a system like this. Especially the loop back duplication of characters. Link to XKCD comic

      Mention projects you can use these techniques in. Redux being the most prominent one, usable in regular react, and react native.
  </p>
</div>

<%- partial("../_promote-me") %>
