<div class="article">
  <h1>Time Travel Debugging</h1>
  <img class="intro" title="Template Title" src="images/racer.png"/>
  <p>
      Time Travel Debugging is all the rage lately. I'm going to cover various techniques
      for implementing time travel debugging, different benefits for doing so,
      link to frameworks/languages that make it easy to use in a project, and walk
      through a simple implementation.
  </p>
</div>

<!--more-->

<div class="article">
  <p>.</p>
  <p>Paragraph</p>
  <p>Reference prio art, promote following article about hot reloading, and etc.</p>
</div>

<%- partial("../_promote-me") %>
