div(class="projects")

  a(href="/blog/bright-screen/")
    h2 Bright Screen
    img(src="/blog/bright-screen/images/project-icon.jpg")

  a(href="http://francoislaberge.com/blog/my-time-at-brass-monkey/")
    h2 Brass Monkey
    img(src="/projects/brass-monkey/images/project-icon.jpg")

  a(href="/blog/light-saber-controller/" class='light-saber')
    h2 Light Saber Controller
    img(src="/blog/light-saber-controller/images/light-saber.jpg")

  a(href="/projects/normal-mapping/me/")
    h2 Normal Mapping
    img(src="/projects/normal-mapping/images/project-icon.png")

  a(href="https://www.youtube.com/watch?v=NE8-TntjYB4")
    h2 Emotely
    img(src="/projects/emotely/images/project-icon.jpg")

  a(href="/projects/audio-visual/")
    h2 Audio Visual
    img(src="/projects/audio-visual/images/project-icon.png")

  a(href="/projects/cube-racer/" class="special")
    h2 Cube Racer
    img(src="/projects/cube-racer/images/project-icon.png")

<div class="clear"></div>

!= partial("../blog/_promote-me")
