
<html lang="en-US">
<head>
<meta charset="UTF-8" />
  <title>Resume - Francois Laberge</title>
  <link rel="stylesheet" href="font-awesome-4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="styles/resume.css"/>
</head>
<body>
    <div id="container">
        <div id="header">
            <div id="info">
                <h1><a href="http://francoislaberge.com/">Francois Laberge</a></h1>

                <ul>
                    <li>
                        <i class="fa fa-envelope fa-lg"></i>
                        <a href="mailto:francoislaberge@gmail.com">francoislaberge@gmail.com</a>
                    </li>
                    <li>
                        <i class="fa fa-phone fa-lg"></i>
                        <a href="tel:919-259-3004">919 259 3004</a>
                    </li>
                    <li>
                        <i class="fa fa-twitter fa-lg"></i>
                        <a href="http://twitter.com/francoislaberge">@francoislaberge</a>
                    </li>
                    <li>
                        <i class="fa fa-github fa-lg"></i>
                        <a href="https://github.com/francoislaberge">francoislaberge</a>
                    </li>
                    <li>
                        <i class="fa fa-link fa-lg"></i>
                        <a href="http://francoislaberge.com">francoislaberge.com</a>
                    </li>
                </ul>

            </div>
            <div id="skills">
                <h2>Career Focus</h2>
                <p>
                    Technical/executive leadership, concept development, R&D, rapid prototyping, and creating design tools, developer tools, creator platforms, and SDKs.
                </p>
            </div>
        </div>
        <div id="history">
            <h2>Experience</h2>

            <div class="job">
                <h3>Software Architect, Projects Owner, & Strategy - Concept Development, Bose Labs</h3>
                <h4>Decemeber 2017 - Present</h4>
                <div class="details">
                    <p>
                      I work in in Applied Research & Concept Development. My team AIDP (Advanced Interaction Design & Prototyping)
                      is a multi-disciplinary team that builds full hardware & software wearables concepts. Smarter in-ear, over-ear,
                      and glasses was our focus.
                    </p>
                    <ul>
                        <li>Managed the AIDP team, acted as product owner on most projects, proposed project other teams run, and usually
                            built the initial prototype and then handed it off for further refinement</li>
                        <li>AIDP Functioned as a consultancy within Bose Labs to create prototypes, mock designs, and do more user research driven concepts</li>
                        <li>Led the development of 3D audio capture technology that leverages our wearables' microphone arrays. We are about to launch a camera app that uses this work.</li>
                        <li>Consulted on the Bose AR platform & developed the 5 year projected roadmap of platform features, experiences, & target partners</li>
                        <li>Led major initiative to modernize our culture and deploy hardware & software prototypes early and often</li>
                        <li>Built a lot AR/VR concepts in Unity, with a focus on using VR simulations to rapidly communicate concepts</li>
                        <li>Evaluated the many 3D tracking technologies via reverse engineering, working with vendors, and making prototypes</li>
                        <li>Created an Augmented Hearing platform and apps (Can't talk about this just yet)</li>
                        <li>Working on a potential gaming headset product-line</li>
                        <li>Developed spatial audio rendering systems and experiences</li>
                        <li>Set much of the research/concept development strategy, especially in software added value</li>
                        <li>I'm working on effecting the farther out hardware chipsets via new low power chips that can do on-board ML inference. The focus
                            being to move Bose's industry leading DSP for voice-pickup, noise cancelling, audio-transparency, and audio playback to Machine Learning based DSP.
                        <li>Created a lot patents on all of the above</li>
                        <li>Unfortunately some of my best work can't be discussed because of confidentiality</li>
                    </ul>
                </div>
            </div>
            <div class="job">
                <h3>Robot SDK/ Middleware Architect, Principal Skills Engineer, and then Head of Release Management - Jibo</h3>
                <h4>April 2015 - November 2017</h4>
                <div class="details">
                    <p>
                      Jibo is making the world's first Social Robot based on MIT professor Cynthia Breazeal's research. We set an Indiegogo record and went on to raise over $70M.
                      Jibo is also an extensible platform based on HTML5. The IDE, Simulator, CLI, and SDK are all made with Javascript.
                    </p>
                    <ul>
                        <li>Wrote the SDK CLI, <a href="https://www.youtube.com/watch?v=Hknn6qoPyLIc">Animation Tool</a>, much of the IDE/Debugger and robot Simulator/Runtime</li>
                        <li>Created multiple robotics patents</li>
                        <li>Built hardware testing rigs and framework to improve general robot performance, now used by SQA and performance engineers</li>
                        <li>Improved the UX and latency of all conversational technologies, from ASR, NLU, TTS, and wake word recognition</li>
                        <li>Developed the first-party messaging application</li>
                        <li>Lead much of architecting, release management, test framework creation, mentoring, and collaboration with Design</li>
                        <li>Created many prototypes and prototyping tools. Won Jibo's internal hackathon</li>
                    </ul>
                </div>
            </div>

            <div class="job">
                <h3>Principal Software Engineer - Brightcove</h3>
                <h4>March 2014 - March 2015</h4>
                <div class="details">
                    <p>
                      Brightcove is the leading platform for working with online video.
                    </p>
                    <ul>
                        <li>Built the next generation Player Management APIs using Node and AWS.</li>
                    </ul>
                </div>
            </div>

            <div class="job">
                <h3>Chief Technology Officer - Brass Monkey</h3>
                <h4>June 2011 - November 2013</h4>
                <div class="details">
                    <p>
                    Brass Monkey is an <a href="https://youtu.be/xzUfdokTEgM">award winning gaming development platform</a> that turns smart devices into controllers for browser based games. Brass Monkey also provides its own game portal and console experience, where users can find Brass Monkey enabled games.
                    </p>
                    <ul>
                        <li>Built and maintained the HTML5 SDK, game console, and developer portal. Development was done using Node, AWS, and various UI frameworks</li>
                        <li>Led all the development for our SDKs for Flash, Unity, and C++ as well as our iOS/Android apps. Helped integrate our SDKs into 50+ games</li>
                        <li>Authored patent applications relating to mesh networking, virtual screen coordination, video/audio streaming, and more wifi/bluetooth communication related techniques</li>
                        <li>Headed up developer evangelism via speaking at game conferences, organizing game meetups, and entering/sponsoring hackathons</li>
                    </ul>
                </div>
            </div>

            <div class="job">
                <h3>Founder - Emotely</h3>
                <h4>October 2010 – May 2011</h4>
                <div class="details">
                    <p>
                    Developed an HTML5 based platform for turning mobile devices into controllers. Check out the early product <a href="https://www.youtube.com/watch?v=cqYcuyEES4o">video here</a>. Emotely was acquired by Brass Monkey in 2011 (<a href="http://techcrunch.com/2011/06/02/brass-monkey-acquires-emotely-to-help-turn-your-smartphone-into-remote-controls/">TechCrunch coverage</a>).
                    </p>
                </div>
            </div>

            <div class="job">
                <h3>Chief Technology Officer - 3 Birds Marketing</h3>
                <h4>December 2009 – July 2010</h4>
                <div class="details">
                    <p>
                    3 Birds Marketing is an end to end marketing, sales, and inventory tracking web application initially focused on car dealerships. The software stack was .NET on the backend and a custom Javascript framework for the front-end.
                    </p>
                    <ul>
                        <li>Architected a solution that fully integrated email creation/sending, coupon/sales management, brand website generation, social media campaigns, and social media sentiment analysis</li>
                        <li>Integrated promotions, sales tracking, and customer management to bidirectionally sync with multiple complex Driver Management Systems</li>
                        <li>Developed an analytics dashboard that tracked the flow of user engagement across all campaign channels</li>
                        <li>Hired and managed the core team of developers, designers, and marketing staff</li>
                        <li>Evaluated and licensed large scale enterprise systems that brought us to market in less than a year</li>
                    </ul>
                </div>
            </div>

            <div class="job">
                <h3>Game Development and Additional Experience</h3>
                <h4>November 1999 – May 2006</h4>
                <div class="details">
                    <p>
                        Before diving into web and mobile development, I was a game developer for top companies such as
                        <a href="http://relic.com/games/">Relic Entertainment</a>, two time winner of PC game of the year
                        for <span class="game">Homeworld</span> and <span class="game">Company of Heroes</span>; <a href="http://www.rockstargames.com/">Rockstar</a>, famous
                        for the <span class="game">Grand Theft Auto</span> series; and boutique studios such as <a href="http://backboneentertainment.com/">
                        Backbone Entertainment</a>. My specialties were leading teams, game engine design, tool creation, graphics,
                        physics, and A.I. programming.
                    </p>
                    <p id="see-linkedin">
                     Please see <a href="http://linkedin.com/in/francoislaberge">Linkedin</a> for more details of my game and software engineering history.
                    </p>
                </div>
            </div>
        </div>
        <div id="footer">
            <div id="education">
                <h2>Education</h2>
                <ul>
                    <li><a href="https://www.digipen.edu/">Digipen Institute of Technology</a></li>
                    <li>Diploma in Video Game Programming</li>
                </ul>
            </div>
            <div id="extracurricular">
                <h2>Extracurricular</h2>
                <p>
                    Advisor to <a href="http://www.apocoplay.com/">Apocoplay</a> and organizer of <a href="http://www.meetup.com/talesofjavascript/">Tales Of Javascript</a> and <a href="http://www.meetup.com/Boston-HTML5-Game-Development/">HTML5 Game Development</a>.
                </p>
            </div>
        </div>
    </div>
</body>
</html>
