<div class="article about">
  <img class="intro" style="border-radius: 60px" title="Me" src="images/profile.png"/>

  <p>Hi, I'm Francois Laberge.</p>

  <p>I'm obsessed with UX, Programming Languages, Systems Design, Tools, the Web, Games, VR, Robots, and Startups.</p>

  <p>Read my <a href="/resume/">Resume</a> or check out my <a href="/projects">Projects/Demos</a>.</p>

  <p>You can find me on twitter <a href="http://twitter.com/francoislaberge">@francoislaberge</a>, <a href="https://github.com/francoislaberge">Github</a>,  or at <a href="mailto:francoislaberge@gmail.com">francoislaberge@gmail.com</a>.</p>
</div>
