<style>
.back{
  float: left;
}
</style>
<div style="clear:both;"></div>
<div class="Explanation_Container">
  <div id="first" class="Explanation">
    <span class="back"><a href="/projects/"><- Back to Projects</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span><strong>Normal Mapping using &lt;Canvas&gt;</strong></span>
  </div>
</div>