<div class="article">
  <h1>Time Editing and Branching</h1>
  <img class="intro" title="Template Title" src="images/template-article-icon.png"/>
  <p>
      Main hook should be about creating animation/generative art systems using the time travel
      and editing metaphor.
      TODO: Explore difference in techniques, like edit and replay all of time vs edit but only change forward,
      and etc. Time looping would be very interesting, time branching/merging too.

      Using this as a form of relatively highly compressed content generation would be rad. TODO: Put a
      place holder article just for that idea, how to make generative but safe/loadable file format. Code as
      data(rather code that generates data), how many file formats are just a safe decoder, why not generate a more
      flexible generalized safe language/tooling approach that can embed code into file formats that then generate
      some expected formated data (lazily even).
  </p>
</div>

<!--more-->

<div class="article">
  <p>

      Mention game design posibilities, generative art crafting,
  </p>
</div>

<%- partial("../_promote-me") %>
