<div class="article">
  <h1>Couch Multiplayer Presentation</h1>
  <img src="images/small-couch-mario-luigi-cropped.png" title="Couch Multiplayer" class="intro" />

  <p>Here are the original slides for the talk on 'Couch Multiplayer' I gave at a recent Node.js meetup.</p>

  <p>The talk is about what the PC experience is missing relative to video game consoles and your tv/video watching setup? PCs are missing: standardized controllers, the comfort of the couch, non-networked multiplayer, and innovative input methods.</p>

</div>

<!--more-->

<div class="article">
  <div style="clear: both;"></div>

  <h2>Slides:</h2>

  <iframe class="scribd_iframe_embed" src="http://www.scribd.com/embeds/54646044/content?start_page=1&view_mode=slideshow&access_key=key-69skl9w98nk4fnypa62" data-auto-height="true" data-aspect-ratio="1.33333333333333" scrolling="no" id="doc_19329" width="100%" height="600" frameborder="0"></iframe><script type="text/javascript">(function() { var scribd = document.createElement("script"); scribd.type = "text/javascript"; scribd.async = true; scribd.src = "http://www.scribd.com/javascripts/embed_code/inject.js"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(scribd, s); })();</script>

</div>

<%- partial("../_promote-me") %>