<div class="article">
  <h1>Developer Workbenches</h1>
  <img class="intro" title="Developer Workbenches" src="images/template-article-icon.png"/>
  <p>
      Explain the concept, explain techniques for doing so. Perhaps give an overview of how popular projects like redux related hot reloaders do it.

      TODO: Figure out how to well break up these concepts with Time Travel Debugging, Developer Workbenches
  </p>
</div>

<!--more-->

<div class="article">
  <p>
      http://martinfowler.com/articles/languageWorkbench.html
      Add clojure devcards
      Mention live styleguides as an example environment
      Take Bret Victor's example and make it even cooler

      Similar but not the same:
      Python notebooks
      Swift Playgrounds
      Tonicdev
      Etc
  </p>
</div>

<%- partial("../_promote-me") %>
