body {
  background: #fbfbfa;
  margin: 0px 20px 10px 20px;
}

.clear {
  clear: both;
}


.follow-me{
  font-family: "Open Sans", "proxima-nova","AvenirNext-SemiBold","Trebuchet MS",Helvetica,Arial,sans-serif;

  text-align: center;

  margin-top: 50px;
  border-top: thin solid #DFDFDF;

  padding: 50px 0px;
}

.follow-me a {
  color: #32A687;
  text-decoration: none;

  padding: 10px 40px;

  border: thin solid #32A687;
  border-radius: 20px;
}

a {
  outline: none;
}
.navigation {
  font-family: "Open Sans", "proxima-nova","AvenirNext-SemiBold","Trebuchet MS",Helvetica,Arial,sans-serif;
  height: 70px;
  color: #404041;
}

.navigation-separator{
  height: 1px;
  background: #dfdfdf;
  display: block;
  margin: 0px 0px 0px 0px;
  margin-bottom: 50px;
}


.navigation a{
  color: #404041;
  text-decoration: none;
}
.navigation a.active{
  padding-bottom: 3px;
  border-bottom: 2px solid #404041;
}

.navigation h1{
  font-size: 1.5em;
}

.navigation h2{
  font-size: 0.9em;
  color: #808081;
}

.navigation h1, .navigation h2 {
  display: inline;
  line-height: 70px;
}
.navigation ul{
  float: right;
  margin: 0px;
}
.navigation ul li{
  display: inline;
  margin-right: 30px;
}
.navigation ul li:last-child{
  margin-right: 10px;
}
.navigation ul li a{
  color: #404041;
  line-height: 70px;
  text-decoration: none;
}
.navigation ul li a:hover{

}

.navigation {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.navigation > div > a {
  float: left;
}

@media only screen and (max-width : 500px) {

  body{
    font-size: 0.9em;
  }
  .navigation {
    height: auto;
    text-align: center;
  }
  .navigation > div > a {
    float: none;
  }
  .navigation ul{
    padding-left: 0px;
    float: none;
  }
  .navigation ul li:last-child{
    margin-right: 0px;
  }
}

.content {
  width: 100%;
  max-width: 650px;
  margin: 0px auto;
}

img.intro {
  max-width: 100%;
  margin: 35px auto;
  display: block;
}

.excerpts img.intro {

  width: 120px;
  float: right;
  margin: 0px 0px 10px 20px;
}
.excerpts .article {
  margin-bottom: 20px;
}
.excerpts .article h1 {

  text-align: left;
  margin-bottom: 15px;
}

.excerpts p {
  margin-top: 0px;
}

.excerpts a {
  color: #404041;
  text-decoration: none;
}

.excerpts a:hover h1{
}

/* Article snippets and articles are wrapped in a div with this class */
.article {
  font-family: "Open Sans", "proxima-nova","AvenirNext-SemiBold","Trebuchet MS",Helvetica,Arial,sans-serif;
  line-height: 1.6em;
  color: #404041;
  font-size: 1.1em;
}

.article h1 {
  text-align: center;
  margin: 10px 0px 30px 0px;
  font-size: 1.6em;
  line-height: 1.2em;
}

.article a {
  color: #32A687;
  text-decoration: none;
}

.article a:hover {
}

.about {
  text-align: center;
}

.projects {
  text-align: center;
}
.projects h2 {
  font-size: 0.85em;
  position: relative;
  top: -3px;
  height: 3em;
  vertical-align: bottom;
  display: inline;
}
@media only screen and (max-width : 500px) {
	.projects h2 {
		font-size: 0.8em;
	}
}
.projects img {
  width: 80%;
  height: auto;
  margin: 5px 10%;
}
.projects a {
  float: left;
  width: 32%;
  font-family: "Open Sans", "proxima-nova","AvenirNext-SemiBold","Trebuchet MS",Helvetica,Arial,sans-serif;
  line-height: 1.6em;
  color: #404041;
  text-decoration: none;
}

.projects .special {
  margin-left: 33%;
}

@media only screen and (max-width : 480px) {
  .projects a {
    width: 50%;
  }
  .projects h2 {
    font-size: 0.8em;
    top: -2px;
  }

  .projects img {
    width: 79%;
    height: auto;
    margin: 5px 11%;
  }

  .projects a:nth-child(3n) {
    background: none;
  }

  .projects a:nth-child(2n+1) {
    clear:both;
  }

  .projects .special {
    margin-left: 25%;
  }
}
