<div class="article">
  <h1>My Time At Brass Monkey</h1>

  <img src="images/brassmonkey.png" alt="Brass Monkey" class="intro" /><p>This November 1st was my last day at my startup Brass Monkey. I wanted to write a nice goodbye and recap some highlights of my time at Brass Monkey as CTO.</p>
</div>

<!--more-->

<div class="article">

  <p>I also touch on my reason [all positive!] for stepping away.</p>

  <h2>My Own Brass Monkey | Sept. 2010 - June 2011</h2>
  <p>Before joining Brass Monkey 2.5 years ago, I had being trying to start my own Company called <a href="http://emotely.com">Emotely</a> that was building a similar Smart Phone as Controller concept. Here is the early product video I made to help at the time. The video got a lot of developer signups and got me meetings at a few decent VC firms such as <a href="http://greylock.com/">Grey Lock</a>, <a href="http://oatv.com/are.html">OATV</a>, and <a href="http://www.googleventures.com/">Google Ventures</a> (Special thanks to <a href="https://twitter.com/dalmaer">Dion Almaer</a> and <a href="https://twitter.com/bgalbs">Ben Galbraith</a> who around this time gave me some great introductions!). The video also got me a missed opportunity to meet Paul Graham at Techcrunch Disrupt, <a href="http://emotely.com/blog/michael-arrington-of-techcrunch-emotely-was-kinda-cool/">but that's another funny story</a>.</p>

  <div style="position: relative; padding-bottom: 60%; padding-top: 30px; height: 0; overflow: hidden;">
  <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="//www.youtube.com/embed/NE8-TntjYB4" frameborder="0" allowfullscreen></iframe>
  </div>
  </br>

  <p>Fund raising turned out to be difficult as a single cofounder. In addition, being Canadian it was going to be difficult to get a work Visa so that I could have Emotely (and myself) be located in San Francisco. I had moved to San Francisco on March 1st, 2011 and had till about June 1st to find a solution to my lack of a Visa. June 1st I'd have to return to Canada if I didn't get a Visa of some sort. By the end of April I started to look for fallback plans to stay in the states and hopefully to continue my work with Emotely.</p>

  <p>I started to interview at Companies in case there was no solution but to just get a Work Visa and join someone else's venture. First <a href="http://www.crunchbase.com/company/openfeint">OpenFeint</a>'s CEO Jason Citron had been trying to recruit me after initially being introduced to me by an Investor to solicit advice. Next I'd been in talks with David Perry at <a href="http://gaikai.com/about">Gaikai</a> to potentially develop a phone as Controller solution for their Cloud Gaming platform, this would have involved moving to SoCal which I thought might be interesting. Finally I'd been through multiple interviews with <a href="http://www.massivehealth.com/">MassiveHealth</a>'s founding team and was starting to discuss the details of an offer with <a href="http://azrask.in/">Aza</a>. Unfortunately, the problem was I just wanted to do my own idea so bad. I'd already done two startups that I wasn't a founder at and I wanted more creative control, more credit for my work/ideas, and to capture more of the value I created. Because of these hesitations I took another tact.</p>

  <blockquote><strong>Sidebar:</strong> In hindsight (Ha!) I certainly had some regrets for not getting involved in those Companies. They've all been sold by now likely returning high payouts to their execs and senior people. <a href="http://www.joystiq.com/2011/04/27/openfeint-sold-for-104-million-to-gree/">OpenFeint sold to GREE for $104</a> practically weeks after I would have started. <a href="http://gigaom.com/2012/07/02/what-sonys-380m-purchase-of-gaikai-means-for-future-gaming-hardware/">GaiKai has since sold to Sony for $380M</a> to have their <a href="http://www.theverge.com/2013/2/20/4010420/sonys-playstation-4-will-use-gaikai-game-streaming-technology">game streaming tech integrated with the soon to come out PS4</a>. Finally Massive Health was acquired for undisclosed sum/arrangement to the hot hardware startup <a href="https://jawbone.com/">Jawbone.</a></blockquote>

  <h2>Approaching The Competition | April 2011 - May 2011 </h2>

  <p>I decided to approach my two most obvious competitors and see if they'd allow me to join late and be treated as a founder. By joining an existing US Company I'd be able to get a Work Visa. Both of my competitors were relatively new at the time. I figured having developed enough Intellectual Property to bring to the table would make that a fair proposition.</p>

  <p>I approached JoyPad who were local to San Francisco and whom really impressed me with what they'd accomplished with just two people. I emailed them and eventually convinced them to do a face to face to discuss having me join their venture. We chatted about their vision and had a good meeting, but ultimately they passed on the proposition. No hard feelings there, they were a tight knit duo and Emotely's web based approach didn't mesh with their mobile/tablet only focus. They've since decided to focus on a new idea: <a href="http://thenextweb.com/insider/2013/03/22/openfeint-successor-openkit-unveils-version-1-0-after-receiving-1000-developer-sign-ups/">OpenKit</a> which is ultimately to build an open source OpenFeint like Game Center solution. They still keep JoyPad running, you can see their <a href="http://getjoypad.com/">great product video here</a>.</p>

  <p>In parallel I started a similar conversation with Brass Monkey. I'd already had multiple conversations with Chris (<a href="http://twitter.com/mrchrisallen">@mrchrisallen</a>) Brass Monkey's current CEO and Jim Bull who was CEO at that time. Brass Monkey was definitely my most obvious competitor as their tech was also focused on controlling web content. In their case they'd developed a Flash SDK and a Unity SDK, where as I'd developed an HTML5 based approach. Combining we'd have all the major platforms covered. On our phone calls (before there was talk about joining forces) I was struck by how friendly Chris and Jim were, even though we were competitors. They seemed like a great guys and their team had already made some impressive games using the tech and secured some seed funding. I approached them with the idea of joining forces and they both liked the idea so I flew out to Boston to discuss how an acquisition of Emotely would work.</p>

  <p>In Boston I met with Chris and we had this great first meeting, jamming on ideas on a whiteboard (actually we wrote all over the conference table, which acts as an impromptu whiteboard). Our visions for the tech were very in sync. I remember how exciting it was to talk to someone who'd been obsessing with a similar idea for a long time. It was a great weekend visit. I was put up in this great bed and breakfast for my stay, we partied together over the weekend as it was one of the founders: Dominick Accatto's birthday. On Monday we hammered out most of the details of how they'd acquire Emotely and then I flew back to San Francisco to start preparing for the acquisition.</p>

  <h2>Announcing the acquisition - June 1st 2011</h2>

  <p>Back in San Francisco I was feeling pretty stressed as we hadn't closed the deal on the final percentage I'd own of Brass Monkey which was blocking my ability to get a Work Visa process going. I had till June 1st to do so. We finally got it all figured out and I went down to San Diego to re-enter the US as part of my Work Visa application process. I have to tell you, getting a Work Visa is a very stressful process as you never know if you are gonna be rejected and this time was the closest to being rejected I've ever gotten. If I had been rejected I would have had to fly back to Canada even though I lived SF at the time. The cause of almost getting rejected was not having a Date on one of the reference letters I'd needed to provide. I just barely was able to prove by inference the date the piece of paper was signed by cross referencing other documents and so was my work Visa was accepted. I flew back to SF just in time for our planned announcement.</p>

  <p>It was official as of June 1st, 2011. I was now part of the Brass Monkey team! We announced the acquisition of Emotely (<a href="http://techcrunch.com/2011/06/02/brass-monkey-acquires-emotely-to-help-turn-your-smartphone-into-remote-controls/">See Techcrunch's coverage</a>). To help with the announcement coverage, Andrew Kostuik a relatively new hire and I worked on this demo reel that was an amalgamation of previous Brass Monkey videos. Check it out:</p>

  <div style="position: relative; padding-bottom: 58.2%; padding-top: 30px; height: 0; overflow: hidden;">

  <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="//player.vimeo.com/video/24337182" width="500" height="331"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>

  <h2 id="first-contributions">First Contributions | June 2011 - November 2011</h2>

  <p>My first few months were spent supporting the integration of Brass Monkey into the Real Steel video game that was built for WebOS. The game had this great intuitive control scheme where your body movement was controlled by the tilting of the tablet. Check out Hugh Jackman demoing the game at Comicon that year.</a>

  <h3>Eeeeeeee, Hugh Jackman is playing something that uses Brass Monkey! :) </h3>
  <a href="http://francoislaberge.com/wp-content/uploads/2013/11/hugh-jackman-playing.jpg"><img src="images/hugh-jackman-playing.jpg" style="width:100%;height: auto;"/></a>

  <h3>Robot Controller In The Film</h3>
  <a href="http://francoislaberge.com/wp-content/uploads/2013/11/hugh-jackman-movie-2.jpg"><img src="images/hugh-jackman-movie-2.jpg" style="width:100%;height: auto;"/></a>

  <h3>A Closeup Of The UI</h3>
  <a href="http://francoislaberge.com/wp-content/uploads/2013/11/real-steel-hands.jpg"><img src="images/real-steel-hands.jpg" style="width:100%;height: auto;"/></a>

  <h3>Posing</h3>
  <a href="http://francoislaberge.com/wp-content/uploads/2013/11/hugh-jackman-posing.jpg"><img src="images/hugh-jackman-posing.jpg" style="width:100%;height: auto;"/></a>

  <h2>Launching The New Controller App And Console | November 2011 </h2>

  <p>Brass Monkey had existed for a year or two before Emotely did. Originally they licensed the controller tech to other Companies. One of the notable ones being <a href="http://starwars.com/play/online-games/trench-run/">Star Wars: Trench Run</a>. It was turning out that selling licenses wasn't easily scaling and so the plan was to instead make our own game portal and universal controller app, where we would provide distribution in exchange for revenue share with developers as well as creating a Console like experience. The beauty of this approach from a UX perspective was that once you installed our controller app you could walk up to any computer, open <a href="http://playbrassmonkey.com/">playbrassmonkey.com</a>, and then you could sit back and play any game without touching the keyboard again. No installation on the PC side was required and our patented technology would create Bluetooth like local communication over Wifi.</p>

  <p>As part of releasing the console we developed a series of examples games. These were analogous to Nintendo's Wii Sports during the Wii's launch, designed to show off the possibilities of using phones as controllers. One was <a href="http://playbrassmonkey.com/monkey-sports-golf">Monkey Golf</a> which used your phone's accelerometer to swing your golf club. Monkey Golf to this day is our most popular game. This still impresses me, as we made it very quickly using some clever development shortcuts. We also released Monkey Dodgeball, a four player game where you fight to stay alive the longest. Rounding out these new games was Rival Racers previously made by Brass Monkey, Gnop Gnop by Volygon, and Contamination built as a side project by two of our team members: Andy Zupko and Andrew Kostuik.</p>

  <p>The Brass Monkey iOS app was accepted at literally the last minute before already our planned and advertised launch party. The party was a major blast with people drinking all night and playing Brass Monkey games from the crowd on large monitors on the walls.</p>

  <p>It was around this time that we put together this new video which was on our console landing page. It was shot at the home of one our early investors: Steve Garfield. It also included Caroline Murphy our Director of Operations as she'd joined the team in November (or December?).</p>

  <div style="position: relative; padding-bottom: 58.2%; padding-top: 30px; height: 0; overflow: hidden;">
  <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="//www.youtube.com/embed/pmeGzzCknuw" frameborder="0" allowfullscreen></iframe>
  </div>
  </br>

  <h2>Android And HTML5/Flash Support Added | December 2011 - December 2012</h2>

  <p>We did a lot in 2012. Closed our seed round, raising about $750K total by that point. We blew a bit more time that year than we'd like to admit chasing a Series A opportunity that came early than we expected.</p>

  <p>An Android version of Brass Monkey was launched. We launched an HTML5 SDK and Flash SDK. We started to get developers using our SDK and launching them on our site. I can't recall how many games we had by the end of the year, but I believe it was near 20 games.</p>

  <h3>Conferences</h3>

  <p>We went to multiple conferences that year. CES and GDC. I believe Pax East also. Conferences turned out to be a bit of a distraction. Unfortunately demoing wireless technology tech at conferences is somewhat of a nightmare. But we met a lot of developers and certainly made relationships at them that led to new developers and definitely closing some funding.</p>

  <p>Here's PC World covering us at CES:</p>

  <div style="position: relative; padding-bottom: 58.2%; padding-top: 30px; height: 0; overflow: hidden;">
  <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="//www.youtube.com/embed/bj7hOW8ewaw" frameborder="0" allowfullscreen></iframe>
  </div>

  <h2>Focusing On Developers | October 2012 - Present</h2>

  <p>The executive consensus at the time was to focus on growth: content and user acquisition. So we hired Mike Kanarek in 2012 to be dedicated full time on getting games onto our platform as well as to lead our marketing efforts.</p>

  <h3>Nitrome Partnership!</h3>

  <p>In a few months Mike's efforts led to a great partnership with prolific game makers and portal Nitrome. Nitrome had a <a href="http://www.nitrome.com/all-games/">catalog of ~110 flash games they made all themselves</a>. All well designed and with great retro graphics. Nitrome has since partnered with Rovio and released Ice Breakers:</p>

  <div style="position: relative; padding-bottom: 58.2%; padding-top: 30px; height: 0; overflow: hidden;">
  <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="//www.youtube.com/embed/HCvLhe8ReGA" frameborder="0" allowfullscreen></iframe>
  </div>
  </br>

  <p>In exchange for creating a white-label version of our app called Touchy that would be released under Nitrome's Company, we would get 30 Brass Monkey enabled games from them. Some of the best uses of our tech showed up in their game conversions. And there's still more coming. Checkout the Touchy Launch Video:</p>

  <div style="position: relative; padding-bottom: 58.2%; padding-top: 30px; height: 0; overflow: hidden;">
  <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="//www.youtube.com/embed/6Fi1wey6ifQ" frameborder="0" allowfullscreen></iframe>
  </div>
  </br>

  <h3>A Game A Week</h3>

  <p>We got to a point where we had an order of magnitude growth in installs. We also had a ton of content. At one point we were probably adding one game a week. We're now up to <strong>68 games!</strong> Checkout the total catalog below. You can click on any game to jump to it:</p>

  <img width=1400 height=5247 style="height: auto; max-width: 100%; width: auto;" src="images/brassmonkey-games2.jpg" usemap="#gamesmap"/>

  <map name="gamesmap">

  <area shape="rect" coords="0,0,281,376" href="http://playbrassmonkey.com/angry-bots" alt="Angry Bots">
  <area shape="rect" coords="280,0,561,376" href="http://playbrassmonkey.com/candescent" alt="Candescent">
  <area shape="rect" coords="560,0,841,376" href="http://playbrassmonkey.com/luminesca" alt="Luminesca">
  <area shape="rect" coords="840,0,1121,376" href="http://playbrassmonkey.com/kiwicatapultrevenge" alt="Kiwi Catapult Revenge (Alpha)">
  <area shape="rect" coords="1120,0,1401,376" href="http://playbrassmonkey.com/breakeroidsxl" alt="Breakeroids XL">
  <area shape="rect" coords="0,375,281,751" href="http://playbrassmonkey.com/rakete" alt="Rakete">
  <area shape="rect" coords="280,375,561,751" href="http://playbrassmonkey.com/racethesun" alt="Race The Sun">
  <area shape="rect" coords="560,375,841,751" href="http://playbrassmonkey.com/hyperspacepinball" alt="Hyperspace Pinball">
  <area shape="rect" coords="840,375,1121,751" href="http://playbrassmonkey.com/unstoppaball" alt="Unstoppaball">
  <area shape="rect" coords="1120,375,1401,751" href="http://playbrassmonkey.com/the-convergence" alt="The Convergence">
  <area shape="rect" coords="0,750,281,1126" href="http://playbrassmonkey.com/contamination" alt="Contamination">
  <area shape="rect" coords="280,750,561,1126" href="http://playbrassmonkey.com/gnop-gnop" alt="Gnop Gnop">
  <area shape="rect" coords="560,750,841,1126" href="http://playbrassmonkey.com/amputea" alt="Ampu-tea">
  <area shape="rect" coords="840,750,1121,1126" href="http://playbrassmonkey.com/monkey-dodge-ball" alt="Monkey Dodgeball">
  <area shape="rect" coords="1120,750,1401,1126" href="http://playbrassmonkey.com/monkey-sports-golf" alt="Monkey Golf">
  <area shape="rect" coords="0,1125,281,1501" href="http://playbrassmonkey.com/rival-racers" alt="Rival Racers">
  <area shape="rect" coords="280,1125,561,1501" href="http://playbrassmonkey.com/thepassingofseasons" alt="The Passing of Seasons">
  <area shape="rect" coords="560,1125,841,1501" href="http://playbrassmonkey.com/dust" alt="DUST">
  <area shape="rect" coords="840,1125,1121,1501" href="http://playbrassmonkey.com/chronocash" alt="Chrono&Cash">
  <area shape="rect" coords="1120,1125,1401,1501" href="http://playbrassmonkey.com/meganoid" alt="Meganoid">
  <area shape="rect" coords="0,1500,281,1876" href="http://playbrassmonkey.com/groundskeeper" alt="Groundskeeper">
  <area shape="rect" coords="280,1500,561,1876" href="http://playbrassmonkey.com/superdrillpanic" alt="Super Drill Panic">
  <area shape="rect" coords="560,1500,841,1876" href="http://playbrassmonkey.com/super-resident-raver" alt="Super Resident Raver">
  <area shape="rect" coords="840,1500,1121,1876" href="http://playbrassmonkey.com/super-jetroid" alt="Super Jetroid">
  <area shape="rect" coords="1120,1500,1401,1876" href="http://playbrassmonkey.com/super-paper-monster-smasher" alt="Super Paper Monster Smasher">
  <area shape="rect" coords="0,1875,281,2251" href="http://playbrassmonkey.com/monkey-glider" alt="Monkey Glider">
  <area shape="rect" coords="280,1875,561,2251" href="http://playbrassmonkey.com/onslaught-arena" alt="Onslaught Arena">
  <area shape="rect" coords="560,1875,841,2251" href="http://playbrassmonkey.com/spelunky" alt="Spelunky">
  <area shape="rect" coords="840,1875,1121,2251" href="http://playbrassmonkey.com/tank-vs-alien" alt="Tank Vs. Alien">
  <area shape="rect" coords="1120,1875,1401,2251" href="http://playbrassmonkey.com/tank-vs-alien-online" alt="Tank Vs. Alien Online">
  <area shape="rect" coords="0,2250,281,2626" href="http://playbrassmonkey.com/culmination" alt="Armed with Wings: Culmination">
  <area shape="rect" coords="280,2250,561,2626" href="http://playbrassmonkey.com/samuraiautumn" alt="Samurai Autumn">
  <area shape="rect" coords="560,2250,841,2626" href="http://playbrassmonkey.com/megaboulder" alt="Mega Boulder Rampage">
  <area shape="rect" coords="840,2250,1121,2626" href="http://playbrassmonkey.com/firebug2" alt="Firebug 2">
  <area shape="rect" coords="1120,2250,1401,2626" href="http://playbrassmonkey.com/attacher" alt="Attacher">
  <area shape="rect" coords="0,2625,281,3001" href="http://playbrassmonkey.com/superbombbugs" alt="Super Bomb Bugs">
  <area shape="rect" coords="280,2625,561,3001" href="http://playbrassmonkey.com/megalithic-mayhem" alt="Megalithic Mayhem">
  <area shape="rect" coords="560,2625,841,3001" href="http://playbrassmonkey.com/doubleedged" alt="Double Edged">
  <area shape="rect" coords="840,2625,1121,3001" href="http://playbrassmonkey.com/swindler" alt="Swindler">
  <area shape="rect" coords="1120,2625,1401,3001" href="http://playbrassmonkey.com/swindler2" alt="Swindler 2">
  <area shape="rect" coords="0,3000,281,3376" href="http://playbrassmonkey.com/testsubjectblue" alt="Test Subject Blue">
  <area shape="rect" coords="280,3000,561,3376" href="http://playbrassmonkey.com/testsubjectgreen" alt="Test Subject Green">
  <area shape="rect" coords="560,3000,841,3376" href="http://playbrassmonkey.com/testsubjectcomplete" alt="Test Subject Complete">
  <area shape="rect" coords="840,3000,1121,3376" href="http://playbrassmonkey.com/testsubjectarena" alt="Test Subject Arena">
  <area shape="rect" coords="1120,3000,1401,3376" href="http://playbrassmonkey.com/colourblind" alt="Colour Blind">
  <area shape="rect" coords="0,3375,281,3751" href="http://playbrassmonkey.com/badicecream" alt="Bad Ice-Cream">
  <area shape="rect" coords="280,3375,561,3751" href="http://playbrassmonkey.com/badicecream2" alt="Bad Ice-Cream 2">
  <area shape="rect" coords="560,3375,841,3751" href="http://playbrassmonkey.com/twinshot2" alt="Twin Shot 2">
  <area shape="rect" coords="840,3375,1121,3751" href="http://playbrassmonkey.com/plunger" alt="Plunger">
  <area shape="rect" coords="1120,3375,1401,3751" href="http://playbrassmonkey.com/superstocktake" alt="Super Stock Take">
  <area shape="rect" coords="0,3750,281,4126" href="http://playbrassmonkey.com/bcbowcontest" alt="B.C. Bow Contest">
  <area shape="rect" coords="280,3750,561,4126" href="http://playbrassmonkey.com/magictouch" alt="Magic Touch">
  <area shape="rect" coords="560,3750,841,4126" href="http://playbrassmonkey.com/flashcat" alt="Flash Cat">
  <area shape="rect" coords="840,3750,1121,4126" href="http://playbrassmonkey.com/wormfood" alt="Worm Food">
  <area shape="rect" coords="1120,3750,1401,4126" href="http://playbrassmonkey.com/thinice" alt="Thin Ice">
  <area shape="rect" coords="0,4125,281,4501" href="http://playbrassmonkey.com/megamash" alt="Mega Mash">
  <area shape="rect" coords="280,4125,561,4501" href="http://playbrassmonkey.com/aquanaut" alt="Aquanaut">
  <area shape="rect" coords="560,4125,841,4501" href="http://playbrassmonkey.com/offtherails" alt="Off The Rails">
  <area shape="rect" coords="840,4125,1121,4501" href="http://playbrassmonkey.com/supersnotput" alt="Super Snotput">
  <area shape="rect" coords="1120,4125,1401,4501" href="http://playbrassmonkey.com/psychout" alt="Psychout">
  <area shape="rect" coords="0,4500,281,4876" href="http://playbrassmonkey.com/legendofpandora" alt="Legend of Pandora">
  <area shape="rect" coords="280,4500,561,4876" href="http://playbrassmonkey.com/red-rogue" alt="Red Rogue">
  <area shape="rect" coords="560,4500,841,4876" href="http://playbrassmonkey.com/drake1" alt="Drake and the Wizards">
  <area shape="rect" coords="840,4500,1121,4876" href="http://playbrassmonkey.com/tamus-and-mitta-adventures" alt="Tamus and Mitta Adventures">
  <area shape="rect" coords="1120,4500,1401,4876" href="http://playbrassmonkey.com/drake2" alt="Drake and the Wizards 2">
  <area shape="rect" coords="0,4875,281,5251" href="http://playbrassmonkey.com/drakeiwc" alt="Drake in Winterland Competition">
  <area shape="rect" coords="280,4875,561,5251" href="http://playbrassmonkey.com/roguesoul" alt="Rogue Soul">
  <area shape="rect" coords="560,4875,841,5251" href="http://playbrassmonkey.com/snc" alt="Straight, No Chaser">
  </map>

  <h2>So, Why Leave Brass Monkey?</h2>

  <p>To be honest it mostly came down to personal finances. I took on a lot of debt starting Emotely dealing with Visas, moving multiple times cross country, and just paying for equipment and services. The debt was weighing on me a lot over the last few years. I'm sure my equity in Brass Monkey will pay off in the long run as it's great tech and the team continues to kick ass. You should see the stuff we have in the labs. I'll continue to live in Boston and will be supporting/advising still when ever the team needs me.</p>

  <h2>I'm Going To Miss Everyone</h2>

  <p>Working at a Startup is a crazy experience. Especially when you've put years of your own finances, effort, and reputation into it. I'm always going to value the hard work everyone put into the Company and the bond made from working side by side towards are goals. So...Chris, Andy, Zach , Mike, Andrew, Caroline, Rebecca, Kasey, and Dominick... thanks for sharing this time with me. Of course we'll stay in touch. I write this sentimentally now to not forget that I appreciate everything I learned from each and every one of you. Also I don't want to forget all the people we shared offices and collaborated with at Infrared5 over the years: Zupko, John, Todd, Keith, Jes, Kyle, Kelly, Adriel, Anthony, Aaron, Elena, Rosie, Adam, AND everyone's dogs!</p>

  <h2>What Am I Going To Do Next?</h2>
  <p>Originally I'd been tempted to focus on a passion project I have involving a new visual design environment and programming language. On more reflection on my finances and dreading to deal with (Work) Visas issues again I decided to focus at least the next few years on working to replenish my savings finding regular work. Like I said, I plan to stay in Boston. I'd like to start working again in January/February 2014 so I'll be drumming up options for then.</p>

  <p>So if you think of any interesting Companies/Projects that match my interests/skills give me a shout at <a href="mailto:francoislaberge@gmail.com">francoislaberge@gmail.com</a>.

  <h2>That's Not The Half Of It!</h2>
  <p>This blog entry got quite long so I started to cut corners on the story telling. I'd like to come back and flush out my thoughts in the future. There are so many cool things in the works at Brass Monkey. Lots of new cutting edge features we've got running in the labs. Lot's of new deals in the works. Stay tuned!</p>

  <h4>Updates</h4>
  Sarah and I were married last week! On November 7th. Besides making me truly happy this means that the issues I've had with getting a work Visa mentioned in this entry will go away. I'll be getting a green card and the ability to work indefinitely within the US. My goal is to eventually apply for permanent citizenship. This means Sarah and I can both end up with dual American/Canadian citizenships.</p>

</div>

<%- partial("../_promote-me") %>
